body {
    background-color: wheat;
    margin: 0px;
}

h3 {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#headerpane {
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 100%;
    height: 100px;
    margin-bottom: 3px;
}

#contentpane {
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 100%;
    margin-bottom: 3px;
}

#footerpane {
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 50;
    height: 100px;
}

.banner {
    max-width: 100%;
    height: 100px;
    border-radius: 0px 0 px 5px 5px;
    border-style: solid;
    border-color: lightgray;
    background-color: lightgray;
    border-width: 1px 1px 1px 1px;
    padding-left: 25px;
    padding-top: 25px;
}