body {

    background-color: wheat;
    margin: 0px;

}

h3 {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#headerpane {
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 100%;
    height: 150px;
    margin-bottom: 3px;
}

#contentpane {
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 100%;
    height: 80%;
    margin-bottom: 3px;
}

#footerpane {
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 50;
    height: 100px;
}