body {

    background-color: wheat;
    margin: 0px;

}

h3 {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#headerpane {
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 100%;
    height: 100px;
    margin-bottom: 3px;
}

#contentpane {
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 100%;
    height: 800px;
    margin-bottom: 3px;
}

#footerpane {
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 50;
    height: 100px;
}

.banner {

    max-width: 100%;
    border-radius: 3px;
    border-style: solid;
    border-color: darkslategrey;
    border-width: 1px 1px 1px 1px;

}